{{ 'section-carousel-slider.css' | asset_url | stylesheet_tag }}
<script src="section-carousel-slider.js" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section id="section-carousel-slider" class="section-carousel-slider section-{{ section.id }}-padding">
  <div class="featured-collections__wrapper">
    <span
      id="featured-collection__nav-arrow--left"
      class="featured-collections__nav-arrow"
      title="Previous slide"
      data-prev
      >&larr;</span
    >
    <div class="featured-collections__slider">
      {% for collection in collections %}
        <a class="featured-collections__card" href="{{ collection.url }}">
          <div class="featured-collections__img">
            <img
              src="{{ collection | img_url: '450x450'}}"
              alt="{{ collection.image.alt }}"
              width="{{ collection.image.width }}"
              height="{{ collection.image.height }}"
              draggable="false"
            >
          </div>
          <div class="featured-collections__content">
            <h2>{{ collection.title }}</h2>
          </div>
        </a>
      {% endfor %}
    </div>
    <span
      id="featured-collection__nav-arrow--right"
      class="featured-collections__nav-arrow"
      title="Next slide"
      data-prev
      >&rarr;</span
    >
    <div class="featured-collection__dots"></div>
  </div>
</section>
